html, body {
    overflow: hidden; /* Supprimer les barres de défilement */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none; /* Nécessaire pour les interactions tactiles sur mobile */
}

#hud-interface {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    /* Styles pour rendre le HUD visible */
}
